mixin formGroupBlock(item)
	if item.toogle
		div(class="form-group-block toogle " + item.classModificator)
			.toogle__header
				a(data-role="toogle" href="#" + item.toogleId) #{item.toogleTitle}
			.toogle__body(id=item.toogleId)
				for field in item.fields
					.form-group
						if field.required
							label.form-group__label.required #{field.label}
						else
							label.form-group__label #{field.label}

						if field.type === 'select'
							select(placeholder=field.placeholder name=field.nameSelect).form-group__select
								for option in field.options
									if option.disabled
										option(value=option.value disabled).select__option #{option.content}
									else
										option(value=option.value).select__option #{option.content}
						else if field.type === 'textarea'
							textarea.form-group__textarea(minlength=5 maxlength=field.textareaLength name=field.nameInput)
						else if field.type === 'button'
							.attach-block
								.attach-block__left-col
									input(type="file" accept="image/jpeg, image/png, text/plain, .doc, .docx, .pdf")#attach-input
									button(type="button").form-group__button#attach-btn #{field.btnText}
								.attach-block__right-col
							.attach-error Размер файла должен быть не более 10МВ
						else if field.type === 'captcha'
							.form-group__captcha
						else
							input(type="text" placeholder=field.placeholder name=field.nameInput).form-group__input

						if field.tip
							span.form-group__tip !{field.tip}
	else
		div(class="form-group-block " + item.classModificator)
			for field in item.fields
				.form-group
					if field.required
						label.form-group__label.required #{field.label}
					else
						label.form-group__label #{field.label}

					if field.type === 'select'
						select(placeholder=field.placeholder name=field.nameSelect).form-group__select
							for option in field.options
								if option.disabled
									option(value=option.value disabled).select__option #{option.content}
								else
									option(value=option.value).select__option #{option.content}
					else if field.type === 'textarea'
						textarea.form-group__textarea(minlength=5 maxlength=field.textareaLength name=field.nameInput)
					else if field.type === 'button'
						.attach-block
							.attach-block__left-col
								input(type="file" accept="image/jpeg, image/png, text/plain, .doc, .docx, .pdf")#attach-input
								button(type="button").form-group__button#attach-btn #{field.btnText}
							.attach-block__right-col
						.attach-error Размер файла должен быть не более 10МВ
					else if field.type === 'captcha'
						.form-group__captcha
					else if field.type === 'last-visit'
						.form-group__last-visit !{field.lastVisitData}
					else if field.type === 'input-password'
						input(type="password" placeholder=field.placeholder name=field.nameInput minlength="2").form-group__input
					else
						input(type="text" placeholder=field.placeholder name=field.nameInput).form-group__input

					if field.tip
						span.form-group__tip !{field.tip}